@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@use 'preline/dist/preline.css';

#btn-submit:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.my-svg {
    fill: rgb(95, 85, 85);
    /* Change to desired color */
}
.rotating-180 {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.lightning-text{
    animation: lightning 1s linear infinite ;
}

@keyframes lightning {
    to {
        opacity:0.4;
    }
}
  
/* image preview setting */
#popup {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(23, 22, 22, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    padding: 50px;
    z-index: 2000;
    overflow-x: hidden;
}

#selected-image {
    max-height: 100%;
    border-radius: 1rem;
    max-width: 100%;
}

/* quill editor */
.ql-container {
    min-height: 10rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
  }

  .ql-container img{
    border:1px solid #000;
    max-width:500px;
    max-height:500px;
}
.chevron-icon{
    transition: all 0.5s;
}
.select-box-spinner{
    animation: rotation 2s linear infinite;
}
.custom-loader {
    width: 20px;
    height: 20px;
    border: 3px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 