[type='checkbox']:focus,[type='radio']:focus {
    --tw-ring-offset-width: 0;
}

/* Styles when body has the .loading-overlay class */
body.loading-overlay {
    position: relative;
    overflow: hidden; /* Prevent scrolling when loading */
  }
  
  body.loading-overlay::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9998;
  }
  body.loading-overlay .custom-spinner-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    gap: 10px;  
  }
  body.loading-overlay .custom-spinner-container .custom-spinner{
    animation: custom-spin 1s linear infinite;
  }
  .spinner-text{
    color:#f4f4f4;
    font-weight: 900;
    animation: spinner-opacity 1.5s linear infinite;
    letter-spacing: 2px;
  }
  @keyframes spinner-opacity{
    50%{
        opacity:0.5;
    }
  }
  
  /* Animation for spinner */
  @keyframes custom-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .dark .ql-container {
    background-color: #ffff; /* Dark background (gray-800) */
    color: black;          /* Light text (gray-300) */
    border-color: #334155;   /* Darker border (gray-700) */
  }
  
  .dark .ql-editor {
    background-color: transparent;          /* Light text */
  }
  
  .dark .ql-toolbar {
    background-color: #334155; 
    border-color: #475569; 
  }
  
  .dark .ql-snow .ql-stroke {
    stroke: #e2e8f0;
  }
  
  .dark .ql-snow .ql-fill {
    fill: #e2e8f0;
  }
  
  .pkg-form-readonly {
  text-align: center;       
  background-color: #e5e7eb;        
  border-width: 1px;         
  border-color: #d1d5db;        
  color: #111827;                    
  font-size: 0.75rem;             
  line-height: 1rem;            
  letter-spacing: 0.05em;             
  padding-top: 0.625rem;               
  padding-bottom: 0.625rem;            
}

@media (prefers-color-scheme: dark) {
  .pkg-form-readonly {
    background-color: #f3f4f6;  
    color: #111827;      
  }
}

.pkg-form-fillable {
  border-width: 1px;
  border-color: #d1d5db;
  color: #111827;
  font-size: 0.75rem;     
  line-height: 1rem;     
  letter-spacing: 0.05em;
  padding-top: 0.625rem;     
  padding-bottom: 0.625rem;
}

@media (prefers-color-scheme: dark) {
  .pkg-form-fillable {
    background-color: #f3f4f6;   
    color: #111827;             
  }
}
